$(document).ready(function() {
  $('#data-output').empty();
  var html = "<div class='row'><ul><div class='large-6 columns'><li><%= @education_descriptor %></li><li><%= @race_descriptor %></li><li><%= @gender_descriptor %></li><li><%= @city_descriptor %></li><li><%= @geo_descriptor %></li><li><%= @age_descriptor %></li><li><%= @income_2013 %></li><li><%= @income_guess_2013 %></li><li id='all-percentile-output'><%= @output[@all] %></li><li><%= @output[@gender] %></li><li><%= @output[@race] %></li></div><div class='large-6 columns'><li><%= @output[@age] %></li><li><%= @output[@education] %></li><li><%= @output[@geo] %></li><li><%= @output[@city] %></li><li><%= @output[@gender_race] %></li><li><%= @output[@gender_age] %></li><li><%= @output[@gender_education] %></li><li><%= @output[@race_age] %></li><li><%= @output[@race_education] %></li><li><%= @output[@gender_race_age] %></li><li><%= @output[@gender_race_education] %></li></div></ul></div>"
  $('#data-output').append(html);
});