<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>U.S. Income Calculator</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div id="fb-root"></div>
    <div id="container">
      <div id="header-container">
        <h1>U.S. Income Calculator</h1>
        <a href="https://twitter.com/usincomecalc" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @usincomecalc</a>
        <div class="fb-like" data-href="http://us-wealth-calculator.herokuapp.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
        <p id="paragraph-header">The disparity in income distribution in the United States has rapidly increased over the last 15 years. Enter in your information to see where you stand in the United States income chain</p>
      </div>
      <div id="error-messages">
      </div>
      <%= yield %>
    </div>
    <div id="bottom-bar">
      <ul id="bottombar-list">
        <li>Created by <span class="bottom-bar-link"><%= link_to "Ben Winter", "http://www.benwinter.co", {class: "bottom-bar-link"} %></span></li>
        <li id='about'><a class="bottom-bar-link">About</a></li>
        <li>&copy U.S. Income Calculator, 2013</li>
      </ul>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>